minit/eu_trans.txt
cave_story/itzulpen_kodea/*
extract_unity
sunset_devils
epistory
one_shot
toem/TOEM/*
the_plucky_squire/extracted*/*
the_plucky_squire/konparatzeko/*
the_plucky_squire/test_install_path/*
the_plucky_squire/UnrealPakTool/*
the_plucky_squire/UnrealLocres.exe
the_plucky_squire/*.sh
the_plucky_squire/notes.md
the_plucky_squire/**/.zig-cache
the_plucky_squire/**/zig-out
patapon
caravan_sandwitch/*