minit/eu_trans.txt
cave_story/itzulpen_kodea/*
extract_unity
sunset_devils
epistory
one_shot
luanti/itzuli_js/node_modules/*
toem/TOEM/*
the_plucky_squire/extracted*/*
the_plucky_squire/konparatzeko/*
the_plucky_squire/test_install_path/*
the_plucky_squire/UnrealPakTool/*
the_plucky_squire/UnrealLocres.exe
the_plucky_squire/*.sh
the_plucky_squire/notes.md
the_plucky_squire/Storybook-WindowsNoEditor*
the_plucky_squire/**/.zig-cache
the_plucky_squire/**/zig-out
caravan_sandwitch/*
extract_unity_lang/*
hidden_folks/itzuli_js/node_modules/*
sifu/extracted/*
sifu/extracted_backup/*
sifu/pakchunk*
world_of_horror/*
fez/*
dead_cells/node/*
dead_cells/orig/*
luanti/*